.button{
    margin: 20px;
    padding: 6px 12px;
    font-size: 15px;
    background-color: #636dfa1a;
    border: 2px solid #636dfa ;
}

.div_border{
    padding: 20px;
    margin:20px;
    border:2px solid #636dfa;
}
